<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>json数据生成</title>

    <style type="text/css">
        input {
            width: 800px;
            height: 25px;

        }


    </style>
</head>
<body>
<div>

<div style="width: 50%;">
    <table>
        <tr>填空题题目<input id="title" type="text" name="title" ></tr><br>

        <tr>第一张题目图片<input  id="qimage1" type="text" ></tr><br>
        <tr>第二张题目图片<input  id="qimage2" type="text" ></tr><br>
        <tr>第三张题目图片<input  id="qimage3" type="text" ></tr><br>

        <tr>填空题正文<input id="content" type="text"  style="width: 1000px;height: 50px;"></tr>（++表示填空， ||与||中间的字加粗，文本换行用\r\n）<br>
        <!-- <tr><input type="text" id="bold1"  placeholder="正文中需要加粗的所有地方，每个用|分开录入"></tr><br> -->

        <tr>正文图片地址1<input id="image1" type="text" ></tr><br>
        <tr>正文图片地址2<input id="image2" type="text" ></tr><br>
        <tr>正文图片地址3<input id="image3" type="text" ></tr><br>
        <tr>正文图片地址4<input id="image4" type="text" ></tr><br>

        <tr>正确答案文本<input id="right" type="text"  ></tr><br>
        <tr>正确答案描述<input id="rightimage" type="text" ></tr><br>
        <tr>错误答案文本<input id="error" type="text" ></tr><br>
        <tr>错误答案描述<input id="errorimage" type="text" ></tr><br>

        <tr>过渡段／介绍段<input id="intro" type="text" ></tr><br>
        <tr>解释/知识中需要加粗的所有地方，每个用||分开录入<input id="know" type="text" ></tr><br>
        <!-- <tr>解释／知识中需要加粗的所有地方，每个用||分开录入<input type="text" id="bold2" ></tr><br> -->


        <tr>解释图片地址1<input id="image5" type="text" ></tr><br>
        <tr>解释图片地址2<input id="image6" type="text" ></tr><br>
        <tr>解释图片地址3<input id="image7" type="text" ></tr><br>
        <tr>解释图片地址4<input id="image8" type="text" ></tr><br>
        <tr><button>生成json</button></tr>
    </table>
</div>

<div style="width: 50%;">
    <textarea id="tarea" rows="20" cols="100"></textarea>
</div>

</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">


    $(function(){

        $("button").click(function(){

        var title = $("#title").val();

        var content = $("#content").val();
        // var bold1 = $("#bold1").val();

        var image1 = $("#image1").val();
        var image2 = $("#image2").val();
        var image3 = $("#image3").val();
        var image4 = $("#image4").val();

        var right = $("#right").val();
        var rightimage = $("#rightimage").val();
        var error = $("#error").val();
        var errorimage = $("#errorimage").val();


        var intro = $("#intro").val();
        var know = $("#know").val();
        var bold2 = $("#bold2").val();


        var image5 = $("#image5").val();
        var image6 = $("#image6").val();
        var image7 = $("#image7").val();
        var image8 = $("#image8").val();

        var qimage1 = $("#qimage1").val();
        var qimage2 = $("#qimage2").val();
        var qimage3 = $("#qimage3").val();


    　　 $.ajax({

    　　　　url:"/yuanliti/",
    　　　　type:"post",
    　　　　dataType:"json",　　
    　　　　data:{

            action:'tiankong',
            title:title,
            content:content,
            // bold1:bold1,

            right:right,
            rightimage:rightimage,
            error:error,
            errorimage:errorimage,

            intro:intro,
            know:know,
            bold2:bold2,
            image1:image1,
            image2:image2,
            image3:image3,
            image4:image4,
            image5:image5,
            image6:image6,
            image7:image7,
            image8:image8,

            qimage1:qimage1,
            qimage2:qimage2,
            qimage3:qimage3,

          },
    　　　　success:function(data){
                // alert(data.title)

                var newJson = [];
                var txt = '['+
                    '{"text":"'+data.dic1.text+'",'
                    +'"id":'+data.dic1.id+','
                    +'"block":'+data.dic1.block+','
                    +'"type":'+data.dic1.type+','
                    +'"userId":'+data.dic1.userId+'},'

                    +'{"image":"'+data.dic18.image+'",'
                    +'"id":'+data.dic18.id+','
                    +'"block":'+data.dic18.block+','
                    +'"index":'+data.dic18.index+','
                    +'"type":'+data.dic18.type+','
                    +'"userId":'+data.dic18.userId+'},'

                    +'{"image":"'+data.dic19.image+'",'
                    +'"id":'+data.dic19.id+','
                    +'"block":'+data.dic19.block+','
                    +'"index":'+data.dic19.index+','
                    +'"type":'+data.dic19.type+','
                    +'"userId":'+data.dic19.userId+'},'

                    +'{"image":"'+data.dic20.image+'",'
                    +'"id":'+data.dic20.id+','
                    +'"block":'+data.dic20.block+','
                    +'"index":'+data.dic20.index+','
                    +'"type":'+data.dic20.type+','
                    +'"userId":'+data.dic20.userId+'},'

                    +'{"text":"'+data.dic2.text+'",'
                    +'"id":'+data.dic2.id+','
                    +'"type":'+data.dic2.type+','
                    +'"block":'+data.dic2.block+','
                    +'"index":'+data.dic2.index+','
                    +'"userId":'+data.dic2.userId+'},'

                    // +'{"text":"'+data.dic3.text+'",'
                    // +'"id":'+data.dic3.id+','
                    // +'"type":'+data.dic3.type+','
                    // +'"block":'+data.dic3.block+','
                    // +'"index":'+data.dic3.index+','
                    // +'"userId":'+data.dic3.userId+'},'

                    +'{"text":"'+data.dic4.image+'",'
                    +'"id":'+data.dic4.id+','
                    +'"block":'+data.dic4.block+','
                    +'"index":'+data.dic4.index+','
                    +'"type":'+data.dic4.type+','
                    +'"userId":'+data.dic4.userId+'},'

                    +'{"text":"'+data.dic5.image+'",'
                    +'"id":'+data.dic5.id+','
                    +'"block":'+data.dic5.block+','
                    +'"index":'+data.dic5.index+','
                    +'"type":'+data.dic5.type+','
                    +'"userId":'+data.dic5.userId+'},'

                    +'{"text":"'+data.dic6.image+'",'
                    +'"id":'+data.dic6.id+','
                    +'"block":'+data.dic6.block+','
                    +'"index":'+data.dic6.index+','
                    +'"type":'+data.dic6.type+','
                    +'"userId":'+data.dic6.userId+'},'

                    +'{"image":"'+data.dic7.image+'",'
                    +'"id":'+data.dic7.id+','
                    +'"block":'+data.dic7.block+','
                    +'"index":'+data.dic7.index+','
                    +'"type":'+data.dic7.type+','
                    +'"userId":'+data.dic7.userId+'},'

                    +'{"correctId":'+data.dic8.correctId+','
                    +'"brief":"'+data.dic8.image+'",'
                    +'"text":"'+data.dic8.text+'",'
                    +'"id":'+data.dic8.id+','
                    +'"block":'+data.dic8.block+','
                    +'"index":'+data.dic8.index+','
                    +'"type":'+data.dic8.type+','
                    +'"userId":'+data.dic8.userId+'},'

                    +'{"correctId":'+data.dic9.correctId+','
                    +'"brief":"'+data.dic9.image+'",'
                    +'"text":"'+data.dic9.text+'",'
                    +'"id":'+data.dic9.id+','
                    +'"type":'+data.dic9.type+','
                    +'"block":'+data.dic9.block+','
                    +'"index":'+data.dic9.index+','
                    +'"userId":'+data.dic9.userId+'},'

                    +'{"text":"'+data.dic10.text+'",'
                    +'"id":'+data.dic10.id+','
                    +'"type":'+data.dic10.type+','
                    +'"index":'+data.dic10.index+','
                    +'"block":'+data.dic10.block+','
                    +'"userId":'+data.dic10.userId+'},'

                    +'{"text":"'+data.dic11.text+'",'
                    +'"id":'+data.dic11.id+','
                    +'"block":'+data.dic11.block+','
                    +'"index":'+data.dic11.index+','
                    +'"type":'+data.dic11.type+','
                    +'"userId":'+data.dic11.userId+'},'

                    // +'{"text":"'+data.dic12.text+'",'
                    // +'"id":'+data.dic12.id+','
                    // +'"type":'+data.dic12.type+','
                    // +'"block":'+data.dic12.block+','
                    // +'"index":'+data.dic12.index+','
                    // +'"userId":'+data.dic12.userId+'},'

                    // +'{"id":'+data.dic13.id+','
                    // +'"type":'+data.dic13.type+','
                    // +'"block":'+data.dic13.block+','
                    // +'"index":'+data.dic13.index+','
                    // +'"userId":'+data.dic13.userId+'},'

                    +'{"id":'+data.dic14.id+','
                    +'"image":"'+data.dic14.image+'",'
                    +'"type":'+data.dic14.type+','
                    +'"block":'+data.dic14.block+','
                    +'"index":'+data.dic14.index+','
                    +'"userId":'+data.dic14.userId+'},'

                    +'{"id":'+data.dic15.id+','
                    +'"image":"'+data.dic15.image+'",'
                    +'"type":'+data.dic15.type+','
                    +'"block":'+data.dic15.block+','
                    +'"index":'+data.dic15.index+','
                    +'"userId":'+data.dic15.userId+'},'

                    +'{"id":'+data.dic16.id+','
                    +'"image":"'+data.dic16.image+'",'
                    +'"type":'+data.dic16.type+','
                    +'"block":'+data.dic16.block+','
                    +'"index":'+data.dic16.index+','
                    +'"userId":'+data.dic16.userId+'},'

                    +'{"id":'+data.dic17.id+','
                    +'"image":"'+data.dic17.image+'",'
                    +'"type":'+data.dic17.type+','
                    +'"block":'+data.dic17.block+','
                    +'"index":'+data.dic17.index+','
                    +'"userId":'+data.dic17.userId+'}'

                    +']';
                console.info(txt);
                var context = '';
                var json = $.parseJSON( txt );
                for(var i=0;i<json.length;i++){
                  var ele = json[i];
                  if(ele.text==''){
                    continue;
                  }

                  if(ele.type==1001){
                var index = 1;
                context = ele.text;
                var eles = context.split('++');
                for(var j=0;j<eles.length;j++){
                var boldText = eles[j].split('||');
            for(var z=0;z<boldText.length;z++){
              if(z == 0 && boldText[0] != ""){

                var a ={
                   'type':1001,
                   'block':2,
                   'index':index++,
                   'text':boldText[0]
                };
                newJson.push(a);
              }
              if(z != 0 && z%2 == 0 && boldText[z] != ""){
                  var a ={
                    'type':1001,
                   'block':2,
                   'index':index++,
                   'text':boldText[z]
                  };
                newJson.push(a);
                }
              if(z != 0 && z%2 == 1 && boldText[z] != ""){
                  var a ={
                    'type':1003,
                   'block':2,
                   'index':index++,
                   'text':boldText[z]
                  };
                  newJson.push(a);
                }
            }
            if(j != eles.length-1){
              var a ={
                      'type':5001,
                     'block':2,
                     'index':index++,
                     'id':100
                    };
                  newJson.push(a);
                }
          }
          continue;
        }

                 // 解释加粗
                if (ele.type==1111) {
                    var index = 1;
                    var id = 12;
                    context = ele.text;
                    var boldText = context.split('||');
                    for(var z=0;z<boldText.length;z++){
                          if(z == 0 && boldText[0] != ""){

                                    var a ={
                                       'type':1001,
                                       'block':4,
                                       'id':id++,
                                       'index':index++,
                                       'userId': 0,
                                       'text':boldText[0]
                                    };
                                    newJson.push(a);
                                  }
                                  if(z != 0 && z%2 == 0 && boldText[z] != ""){
                                      var a ={
                                        'type':1001,
                                       'block':4,
                                       'id':id++,
                                       'userId': 0,
                                       'index':index++,
                                       'text':boldText[z]
                                      };
                                    newJson.push(a);
                                    }
                                  if(z != 0 && z%2 == 1 && boldText[z] != ""){
                                      var a ={
                                        'type':1003,
                                       'block':4,
                                       'id':id++,
                                       'userId': 0,
                                       'index':index++,
                                       'text':boldText[z]
                                      };
                                      newJson.push(a);
                                    }
                    }
                    continue;
                }

                  newJson.push(ele);
                }
                console.info(JSON.stringify(newJson));


                $("#tarea").val(
                    JSON.stringify(newJson)
                    );
              }

    　　　　})

      });
});

</script>
</body>
</html>