<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>知识点回顾文字json数据生成</title>

    <style type="text/css">
        input {
            width: 800px;
            height: 25px;

        }


    </style>
</head>
<body>
<div style="width: 50%;">
    <table>
        <tr>填空题题目<input id="title" type="text" name="title" ></tr><br>

        <tr>第一张题目图片<input  id="qimage1" type="text" ></tr><br>
        <tr>第二张题目图片<input  id="qimage2" type="text" ></tr><br>
        <tr>第三张题目图片<input  id="qimage3" type="text" ></tr><br>

        <tr>填空题正文<input id="content" type="text"  style="width: 1000px;height: 50px;"></tr>（++表示填空， ||与||中间的字加粗，文本换行用\r\n）<br>
        <!-- <tr><input type="text" id="bold1"  placeholder="正文中需要加粗的所有地方，每个用|分开录入"></tr><br> -->

        <tr>正文图片地址1<input id="image1" type="text" ></tr><br>
        <tr>正文图片地址2<input id="image2" type="text" ></tr><br>
        <tr>正文图片地址3<input id="image3" type="text" ></tr><br>
        <tr>正文图片地址4<input id="image4" type="text" ></tr><br>

        <tr>正确答案文本<input id="right" type="text"  ></tr><br>
        <tr>正确答案描述<input id="rightimage" type="text" ></tr><br>
        <tr>错误答案文本<input id="error" type="text" ></tr><br>
        <tr>错误答案描述<input id="errorimage" type="text" ></tr><br>

        <tr>过渡段／介绍段<input id="intro" type="text" ></tr><br>
        <tr>解释/知识锦囊<input id="know" type="text" ></tr><br>
        <tr>解释／知识中需要加粗的所有地方，每个用|分开录入<input type="text" id="bold2" ></tr><br>


        <tr>解释图片地址1<input id="image5" type="text" ></tr><br>
        <tr>解释图片地址2<input id="image6" type="text" ></tr><br>
        <tr>解释图片地址3<input id="image7" type="text" ></tr><br>
        <tr>解释图片地址4<input id="image8" type="text" ></tr><br>
        <tr><button>生成json</button></tr>
    </table>
</div>

<div style="width: 50%;">
    <textarea id="tarea" rows="20" cols="100"></textarea>
</div>

</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>